@using DAL.Models;

@model Departments;


@using (Html.BeginForm("Update", "Department", FormMethod.Post))
{
	<div class="modal-content">
		<div class="modal-header" style="align-self: center; border-bottom:none">
			<h4 class="modal-title">Редактировать данные отдел</h4>
		</div>
		<div class="modal-body">
			@Html.ValidationSummary(false, "", new { @class = "text-danger" })
			@Html.HiddenFor(c => c.DepartmentsId)
			<fieldset class="form-group">
				<label for="NameDto">Наименование</label>
				@Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
			</fieldset>
		</div>
		<div class="modal-footer" style="border:none">
			<button type="submit" class="btn btn-primary pull-left">Сохранить</button>

			<span style='padding-left: 5px'>
				<a class='btn btn-danger' href='@Url.Action("Index", "Department")'>Назад</a>
			</span>
		</div>

	</div>
}